body {
  color: #F0F8FF;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #F0F8FF;
  margin: 0;
  z-index: 100;
}
.all {
  color: #F0F8FF;
}
#menu-bar, #nav-menu {
  background: #333;
  color: #fff;
}

#menu-bar a, #nav-menu ul li button {
  color: #fff;
  background: #555;
  border: none;
  padding: 10px;
  text-decoration: none;
  font-size: 1em;
}

#nav-menu ul li button:hover {
  background: #777;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.heading {
  font-size: 2em;
  color: #333;
}

.room {
  background-color: #F0F8FF;
  position: absolute;
  flex-wrap: wrap;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  right: 0px;
  margin: 0px;
  padding: 0px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  border-radius: 10px;
  z-index: 10;
}

.content {
  visibility: hidden;
  background: #F0F8FF;
  position: absolute;
  top: 10px;
  display:flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
  padding: 20px;
  z-index: 20;
}

.content video {
  flex: 0 1 calc(33% - 10px);
  height: 150px;
  margin: 1%;
  margin-bottom: 5px;
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
}
#localVideo {
  visibility: collapse;
}
.strmyvideo{
  visibility: hidden;
}
.chat, .send, .botom {
  background: #fff;
  border: 1px solid #ddd;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  border-radius: 10px;
  padding: 10px;
}

.chat {
  visibility: hidden;
  position: fixed;
  width: 24.7%;
  height: 90%;
  right: 0;
  top: 0;
  overflow-y: scroll;
  z-index: 11;
}

.send {
  visibility: hidden;
  width: 24.8%;
  height: 10%;
  position: fixed;
  right: 0;
  bottom: 0;
  background: #52C9EE;
  z-index: 12;
}

.botom {
  position: absolute;
  width: 75%;
  height: 24%;
  left: 0;
  bottom: 0;
  background: #f9f9f9;
  z-index: 30;
}

button {
  background: #40c0e7;
  border: none;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  margin: 5px;
}

button:hover {
  background: #41b0d3;
}

button img {
  vertical-align: middle;
}

#js-join-trigger{
  position: absolute;
  left: 0;
  bottom: 0;
  width: 150px;
  z-index: 20;
}
#js-leave-trigger{
  position: absolute;
  left: 20 auto;
  bottom: 0;
  width: 150px;
}

.notification {
  background-color: #52C9EE;
  color: #F0F8FF;
  padding: 10px 20px;
  border-radius: 5px;
  position: fixed;
  top: 10px;
  right: 10px;
  display: none;
}

#mojiokoshi_container {
  height: 85%;
  overflow-y: scroll;
}

.t_cok{
  visibility: hidden;
}

.note{
  visibility: hidden;
}

.wavecontainer{
  visibility: visible;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.wave-ball {
  width: 150px;
  height: 150px;
  margin-top: 300px;
  background-color: #00aaff;
  border-radius: 50%;
  position: relative;
  animation: wave 5s infinite;
}
.text {
  margin-top: 50px;
  font-size: 24px;
  color: #000000;
}

.wave-ball.active {
  animation: wave-active 1s infinite;
}

@keyframes wave {
  0%, 100% {
      box-shadow: 0 0 0 10px rgba(0, 170, 255, 0.5), 
                  0 0 0 20px rgba(0, 170, 255, 0.3), 
                  0 0 0 30px rgba(0, 170, 255, 0.1);
  }
  50% {
      box-shadow: 0 0 0 5px rgba(0, 170, 255, 0.5), 
                  0 0 0 10px rgba(0, 170, 255, 0.3), 
                  0 0 0 15px rgba(0, 170, 255, 0.1);
  }
}

@keyframes wave-active {
  0%, 100% {
      box-shadow: 0 0 0 10px rgba(0, 170, 255, 0.7), 
                  0 0 0 25px rgba(0, 170, 255, 0.5), 
                  0 0 0 40px rgba(0, 170, 255, 0.3), 
                  0 0 0 55px rgba(0, 170, 255, 0.1);
  }
  50% {
      box-shadow: 0 0 0 5px rgba(0, 170, 255, 0.7), 
                  0 0 0 15px rgba(0, 170, 255, 0.5), 
                  0 0 0 25px rgba(0, 170, 255, 0.3), 
                  0 0 0 35px rgba(0, 170, 255, 0.1);
  }
}