body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #333;
  background: #f5f5f5;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#menu-bar, #nav-menu {
  background: #333;
  color: #fff;
}

#menu-bar a, #nav-menu ul li button {
  color: #fff;
  background: #555;
  border: none;
  padding: 10px;
  text-decoration: none;
  font-size: 1em;
}

#nav-menu ul li button:hover {
  background: #777;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.heading {
  font-size: 2em;
  color: #333;
}

.room {
  position: absolute;
  flex-wrap: wrap;
  box-sizing: border-box;
  width: 75%;
  height: 75%;
  right: 0;
  top: 0;
  right: 0px;
  margin: 0px;
  padding: 0px;
  background: #fff;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  border-radius: 10px;
  z-index: 10;
}

.content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); /* ビデオの最小サイズを150pxに変更 */
  grid-auto-rows: 150px; /* 行の高さを120pxに設定 */
  gap: 20px; /* 要素間の隙間 */
  justify-content: stretch; /* 各列が均等に幅を取る */
  align-items: stretch; /* 各行が均等に高さを取る */
  height: 100%; /* .contentが親要素の高さを埋める */
  width: 100%; /* .contentが親要素の幅を埋める */
  padding: 10px; /* 全体の余白 */
  box-sizing: border-box; /* パディングを含む幅計算 */
}


.content video {
  width: 100%; /* グリッドセル内で最大幅 */
  aspect-ratio: 4 / 3; /* 4:3の縦横比を固定 */
  object-fit: fill; /* ビデオがセル内に収まるように調整 */
  border-radius: 8px; /* 角を少し丸める */
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); /* 影のスタイル */
}

.chat, .send, .botom {
  background: #fff;
  border: 1px solid #ddd;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  border-radius: 10px;
  padding: 10px;
}

.chat {
  position: fixed;
  width: 24.7%;
  height: 90%;
  left: 0;
  top: 0;
  overflow-y: scroll;
  z-index: 11;
}

.send {
  width: 24.8%;
  height: 10%;
  position: fixed;
  left: 0;
  bottom: 0;
  background: #52C9EE;
  z-index: 12;
}

.botom {
  position: absolute;
  width: 75%;
  height: 24%;
  right: 0;
  bottom: 0;
  background: #f9f9f9;
  z-index: 9;
}

button {
  background: #40c0e7;
  border: none;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  margin: 5px;
}

button:hover {
  background: #41b0d3;
}

button img {
  vertical-align: middle;
}

#js-join-trigger{
  position: absolute;
  left: 50px;
  bottom: 0;
  width: 150px;
}
#js-leave-trigger{
  position: absolute;
  left: 230px;
  bottom: 0;
  width: 150px;
}

.notification {
  background-color: #52C9EE;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  position: fixed;
  top: 10px;
  right: 10px;
  display: none;
}

#mojiokoshi_container {
  height: 85%;
  overflow-y: scroll;
}

#menu-bar, #nav-menu {
  background: #333;
  color: #fff;
}

#menu-bar a, #nav-menu ul li button {
  color: #fff;
  background: #555;
  border: none;
  padding: 10px;
  text-decoration: none;
  font-size: 1em;
}

#nav-menu ul li button:hover {
  background: #777;
}

.chatcolor{
  color:red;
}